USE [Sklep ]
GO
/****** Object:  Table [dbo].[Adresy]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresy](
	[id_adresu] [int] NOT NULL,
	[id_klienta] [int] NOT NULL,
	[ulica] [varchar](100) NOT NULL,
	[nr_domu] [varchar](20) NOT NULL,
	[miasto] [varchar](50) NOT NULL,
	[kod_pocztowy] [varchar](10) NOT NULL,
	[kraj] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Adresy] PRIMARY KEY CLUSTERED 
(
	[id_adresu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorie]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[id_kategorii] [int] NOT NULL,
	[nazwa] [varchar](100) NOT NULL,
	[id_rodzica] [int] NULL,
 CONSTRAINT [PK_Kategorie] PRIMARY KEY CLUSTERED 
(
	[id_kategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klienci]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienci](
	[id_klienta] [int] NOT NULL,
	[imie] [varchar](50) NOT NULL,
	[nazwisko] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[haslo_hash] [varchar](255) NOT NULL,
	[telefon] [varchar](20) NULL,
	[data_rejestracji] [datetime] NOT NULL,
 CONSTRAINT [PK_Klienci] PRIMARY KEY CLUSTERED 
(
	[id_klienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kolory]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kolory](
	[id_koloru] [int] NOT NULL,
	[nazwa] [varchar](50) NOT NULL,
	[kod_hex] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Kolory] PRIMARY KEY CLUSTERED 
(
	[id_koloru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marki]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marki](
	[id_marki] [int] NOT NULL,
	[nazwa] [varchar](100) NOT NULL,
	[opis] [text] NULL,
	[logo_url] [varchar](255) NULL,
 CONSTRAINT [PK_Marki] PRIMARY KEY CLUSTERED 
(
	[id_marki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metody_Dostawy]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metody_Dostawy](
	[id_metody] [int] NOT NULL,
	[nazwa] [varchar](50) NOT NULL,
	[koszt_dostawy] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Metody_Dostawy] PRIMARY KEY CLUSTERED 
(
	[id_metody] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metody_Platnosci]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metody_Platnosci](
	[id_platnosci] [int] NOT NULL,
	[nazwa] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Metody_Platnosci] PRIMARY KEY CLUSTERED 
(
	[id_platnosci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozycje_Zamowienia]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozycje_Zamowienia](
	[id_pozycji] [int] NOT NULL,
	[id_zamowienia] [int] NOT NULL,
	[id_wariantu] [int] NOT NULL,
	[ilosc] [int] NOT NULL,
	[cena_w_chwili_zakupu] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Pozycje_Zamowienia] PRIMARY KEY CLUSTERED 
(
	[id_pozycji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkty]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkty](
	[id_produktu] [int] NOT NULL,
	[nazwa] [varchar](150) NOT NULL,
	[opis] [text] NULL,
	[cena_bazowa] [decimal](10, 2) NOT NULL,
	[material] [varchar](100) NULL,
	[id_marki] [int] NOT NULL,
	[id_kategorii] [int] NOT NULL,
 CONSTRAINT [PK_Produkty] PRIMARY KEY CLUSTERED 
(
	[id_produktu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rozmiary]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rozmiary](
	[id_rozmiaru] [int] NOT NULL,
	[symbol] [varchar](10) NOT NULL,
	[typ_rozmiarowki] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rozmiary] PRIMARY KEY CLUSTERED 
(
	[id_rozmiaru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statusy_Zamowien]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statusy_Zamowien](
	[id_statusu] [int] NOT NULL,
	[nazwa] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Statusy_Zamowien] PRIMARY KEY CLUSTERED 
(
	[id_statusu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warianty_Produktow]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warianty_Produktow](
	[id_wariantu] [int] NOT NULL,
	[id_produktu] [int] NOT NULL,
	[id_koloru] [int] NOT NULL,
	[id_rozmiaru] [int] NOT NULL,
	[sku] [varchar](50) NULL,
	[stan_magazynowy] [int] NOT NULL,
 CONSTRAINT [PK_Warianty_Produktow] PRIMARY KEY CLUSTERED 
(
	[id_wariantu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[id_zamowienia] [int] NOT NULL,
	[id_klienta] [int] NOT NULL,
	[id_statusu] [int] NOT NULL,
	[id_adresu] [int] NOT NULL,
	[id_metody_dostawy] [int] NOT NULL,
	[id_metody_platnosci] [int] NOT NULL,
	[data_zamowienia] [datetime] NOT NULL,
	[wartosc_calkowita] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Zamowienia] PRIMARY KEY CLUSTERED 
(
	[id_zamowienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zdjecia_Produktow]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zdjecia_Produktow](
	[id_zdjecia] [int] NOT NULL,
	[id_produktu] [int] NOT NULL,
	[url_pliku] [varchar](255) NOT NULL,
	[czy_glowne] [bit] NOT NULL,
 CONSTRAINT [PK_Zdjecia_Produktow] PRIMARY KEY CLUSTERED 
(
	[id_zdjecia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zwroty]    Script Date: 18.01.2026 19:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zwroty](
	[id_zwrotu] [int] NOT NULL,
	[id_zamowienia] [int] NOT NULL,
	[data_zgloszenia] [datetime] NOT NULL,
	[powod_zwrotu] [varchar](100) NOT NULL,
	[status_zwrotu] [varchar](50) NOT NULL,
	[komentarz] [text] NULL,
 CONSTRAINT [PK_Zwroty] PRIMARY KEY CLUSTERED 
(
	[id_zwrotu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Adresy] ([id_adresu], [id_klienta], [ulica], [nr_domu], [miasto], [kod_pocztowy], [kraj]) VALUES (4001, 1401, N'Hagenes Mill', N'132', N'Lake Victor', N'4357', N'Strathclyde')
INSERT [dbo].[Adresy] ([id_adresu], [id_klienta], [ulica], [nr_domu], [miasto], [kod_pocztowy], [kraj]) VALUES (4002, 1402, N'Ali Ville', N'212', N'Leonorboro', N'2187', N'County Down')
INSERT [dbo].[Adresy] ([id_adresu], [id_klienta], [ulica], [nr_domu], [miasto], [kod_pocztowy], [kraj]) VALUES (4003, 1403, N'The Oval', N'105', N'Rochester', N'2627', N'Greene County')
GO
INSERT [dbo].[Kategorie] ([id_kategorii], [nazwa], [id_rodzica]) VALUES (1, N'Koszulki i T-shirty', NULL)
INSERT [dbo].[Kategorie] ([id_kategorii], [nazwa], [id_rodzica]) VALUES (2, N'Bluzy z kapturem', NULL)
INSERT [dbo].[Kategorie] ([id_kategorii], [nazwa], [id_rodzica]) VALUES (3, N'Swetry i Kardigany', NULL)
GO
INSERT [dbo].[Klienci] ([id_klienta], [imie], [nazwisko], [email], [haslo_hash], [telefon], [data_rejestracji]) VALUES (1401, N'Wilbert', N'Anderson', N'Carrie_Robel@yahoo.com', N'QlW6ubvVlag5jjq', N'+1 (696) 103-5842', CAST(N'2020-02-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Klienci] ([id_klienta], [imie], [nazwisko], [email], [haslo_hash], [telefon], [data_rejestracji]) VALUES (1402, N'Kay', N'Denesik', N'Jessie_White93@hotmail.com', N'sbbVtCkYgIalzlL', N'+1 (131) 267-9990', CAST(N'2024-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Klienci] ([id_klienta], [imie], [nazwisko], [email], [haslo_hash], [telefon], [data_rejestracji]) VALUES (1403, N'Elvira', N'Medhurst', N'Heidi.Cartwright54@hotmail.com', N'diG0jkZdkaI3Ilb', N'+1 (509) 726-7437', CAST(N'2023-02-26T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Kolory] ([id_koloru], [nazwa], [kod_hex]) VALUES (1, N'Czarny', N'#000000')
INSERT [dbo].[Kolory] ([id_koloru], [nazwa], [kod_hex]) VALUES (2, N'Bialy', N'#FFFFFF')
INSERT [dbo].[Kolory] ([id_koloru], [nazwa], [kod_hex]) VALUES (3, N'Szary', N'#808080')
GO
INSERT [dbo].[Marki] ([id_marki], [nazwa], [opis], [logo_url]) VALUES (1, N'Nike', NULL, NULL)
INSERT [dbo].[Marki] ([id_marki], [nazwa], [opis], [logo_url]) VALUES (2, N'Adidas', NULL, NULL)
INSERT [dbo].[Marki] ([id_marki], [nazwa], [opis], [logo_url]) VALUES (3, N'Puma', NULL, NULL)
GO
INSERT [dbo].[Metody_Dostawy] ([id_metody], [nazwa], [koszt_dostawy]) VALUES (1, N'Kurier DPD', CAST(19.99 AS Decimal(10, 2)))
INSERT [dbo].[Metody_Dostawy] ([id_metody], [nazwa], [koszt_dostawy]) VALUES (2, N'Paczkomat InPost', CAST(14.99 AS Decimal(10, 2)))
INSERT [dbo].[Metody_Dostawy] ([id_metody], [nazwa], [koszt_dostawy]) VALUES (3, N'Odbior osobisty', CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Metody_Platnosci] ([id_platnosci], [nazwa]) VALUES (1, N'Przelew')
INSERT [dbo].[Metody_Platnosci] ([id_platnosci], [nazwa]) VALUES (2, N'BLIK')
INSERT [dbo].[Metody_Platnosci] ([id_platnosci], [nazwa]) VALUES (3, N'Karta')
GO
INSERT [dbo].[Pozycje_Zamowienia] ([id_pozycji], [id_zamowienia], [id_wariantu], [ilosc], [cena_w_chwili_zakupu]) VALUES (1, 7, 1397, 3, CAST(299.00 AS Decimal(10, 2)))
INSERT [dbo].[Pozycje_Zamowienia] ([id_pozycji], [id_zamowienia], [id_wariantu], [ilosc], [cena_w_chwili_zakupu]) VALUES (2, 16, 1515, 1, CAST(269.00 AS Decimal(10, 2)))
INSERT [dbo].[Pozycje_Zamowienia] ([id_pozycji], [id_zamowienia], [id_wariantu], [ilosc], [cena_w_chwili_zakupu]) VALUES (3, 16, 744, 1, CAST(299.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Produkty] ([id_produktu], [nazwa], [opis], [cena_bazowa], [material], [id_marki], [id_kategorii]) VALUES (1, N'Koszulka Cotton Basic', N'Wygodna koszulka z wysokiej jakosci bawelny.', CAST(49.99 AS Decimal(10, 2)), NULL, 6, 1)
INSERT [dbo].[Produkty] ([id_produktu], [nazwa], [opis], [cena_bazowa], [material], [id_marki], [id_kategorii]) VALUES (2, N'Jeansy Slim Fit', N'Klasyczne jeansy dopasowane do sylwetki.', CAST(199.00 AS Decimal(10, 2)), NULL, 5, 4)
INSERT [dbo].[Produkty] ([id_produktu], [nazwa], [opis], [cena_bazowa], [material], [id_marki], [id_kategorii]) VALUES (3, N'Bluza z Kapturem Urban', N'Ciepla bluza idealna na chlodne dni.', CAST(149.99 AS Decimal(10, 2)), NULL, 1, 2)
GO
INSERT [dbo].[Rozmiary] ([id_rozmiaru], [symbol], [typ_rozmiarowki]) VALUES (1, N'XS', N'Odziez - Litery')
INSERT [dbo].[Rozmiary] ([id_rozmiaru], [symbol], [typ_rozmiarowki]) VALUES (2, N'S', N'Odziez - Litery')
INSERT [dbo].[Rozmiary] ([id_rozmiaru], [symbol], [typ_rozmiarowki]) VALUES (3, N'M', N'Odziez - Litery')
GO
INSERT [dbo].[Statusy_Zamowien] ([id_statusu], [nazwa]) VALUES (1, N'Nowe')
INSERT [dbo].[Statusy_Zamowien] ([id_statusu], [nazwa]) VALUES (2, N'Oplacone')
INSERT [dbo].[Statusy_Zamowien] ([id_statusu], [nazwa]) VALUES (3, N'W realizacji')
GO
INSERT [dbo].[Warianty_Produktow] ([id_wariantu], [id_produktu], [id_koloru], [id_rozmiaru], [sku], [stan_magazynowy]) VALUES (1, 1, 5, 1, N'P1-R1-K4', 6)
INSERT [dbo].[Warianty_Produktow] ([id_wariantu], [id_produktu], [id_koloru], [id_rozmiaru], [sku], [stan_magazynowy]) VALUES (2, 1, 19, 2, N'P1-R2-K9', 40)
INSERT [dbo].[Warianty_Produktow] ([id_wariantu], [id_produktu], [id_koloru], [id_rozmiaru], [sku], [stan_magazynowy]) VALUES (3, 1, 14, 3, N'P1-R3-K4', 20)
GO
INSERT [dbo].[Zamowienia] ([id_zamowienia], [id_klienta], [id_statusu], [id_adresu], [id_metody_dostawy], [id_metody_platnosci], [data_zamowienia], [wartosc_calkowita]) VALUES (7, 1520, 1, 4120, 2, 4, CAST(N'2025-04-07T01:22:35.210' AS DateTime), CAST(911.99 AS Decimal(10, 2)))
INSERT [dbo].[Zamowienia] ([id_zamowienia], [id_klienta], [id_statusu], [id_adresu], [id_metody_dostawy], [id_metody_platnosci], [data_zamowienia], [wartosc_calkowita]) VALUES (16, 1656, 7, 4256, 2, 3, CAST(N'2025-01-25T01:22:35.210' AS DateTime), CAST(1508.98 AS Decimal(10, 2)))
INSERT [dbo].[Zamowienia] ([id_zamowienia], [id_klienta], [id_statusu], [id_adresu], [id_metody_dostawy], [id_metody_platnosci], [data_zamowienia], [wartosc_calkowita]) VALUES (18, 1574, 6, 4174, 2, 4, CAST(N'2025-02-15T01:22:35.210' AS DateTime), CAST(1535.99 AS Decimal(10, 2)))
GO
INSERT [dbo].[Zdjecia_Produktow] ([id_zdjecia], [id_produktu], [url_pliku], [czy_glowne]) VALUES (2, 2, N'https://sklep.pl/img/prod_2_main.jpg', 1)
INSERT [dbo].[Zdjecia_Produktow] ([id_zdjecia], [id_produktu], [url_pliku], [czy_glowne]) VALUES (3, 3, N'https://sklep.pl/img/prod_3_main.jpg', 1)
INSERT [dbo].[Zdjecia_Produktow] ([id_zdjecia], [id_produktu], [url_pliku], [czy_glowne]) VALUES (4, 3, N'https://sklep.pl/img/prod_3_side.jpg', 0)
GO
INSERT [dbo].[Zwroty] ([id_zwrotu], [id_zamowienia], [data_zgloszenia], [powod_zwrotu], [status_zwrotu], [komentarz]) VALUES (1, 295, CAST(N'2025-08-13T01:22:35.210' AS DateTime), N'Niewlasciwy rozmiar', N'Przyjety', N'Klient prosi o wymiane')
INSERT [dbo].[Zwroty] ([id_zwrotu], [id_zamowienia], [data_zgloszenia], [powod_zwrotu], [status_zwrotu], [komentarz]) VALUES (2, 290, CAST(N'2025-05-28T01:22:35.210' AS DateTime), N'Niewlasciwy rozmiar', N'Przyjety', N'Klient prosi o wymiane')
INSERT [dbo].[Zwroty] ([id_zwrotu], [id_zamowienia], [data_zgloszenia], [powod_zwrotu], [status_zwrotu], [komentarz]) VALUES (3, 288, CAST(N'2025-02-24T01:22:35.210' AS DateTime), N'Niewlasciwy rozmiar', N'Przyjety', N'Klient prosi o wymiane')
GO
ALTER TABLE [dbo].[Adresy]  WITH CHECK ADD  CONSTRAINT [FK_Adresy_Klienci] FOREIGN KEY([id_klienta])
REFERENCES [dbo].[Klienci] ([id_klienta])
GO
ALTER TABLE [dbo].[Adresy] CHECK CONSTRAINT [FK_Adresy_Klienci]
GO
ALTER TABLE [dbo].[Kategorie]  WITH CHECK ADD  CONSTRAINT [FK_Kategorie_Kategorie] FOREIGN KEY([id_rodzica])
REFERENCES [dbo].[Kategorie] ([id_kategorii])
GO
ALTER TABLE [dbo].[Kategorie] CHECK CONSTRAINT [FK_Kategorie_Kategorie]
GO
ALTER TABLE [dbo].[Pozycje_Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Pozycje_Zamowienia_Warianty_Produktow] FOREIGN KEY([id_wariantu])
REFERENCES [dbo].[Warianty_Produktow] ([id_wariantu])
GO
ALTER TABLE [dbo].[Pozycje_Zamowienia] CHECK CONSTRAINT [FK_Pozycje_Zamowienia_Warianty_Produktow]
GO
ALTER TABLE [dbo].[Pozycje_Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Pozycje_Zamowienia_Zamowienia] FOREIGN KEY([id_zamowienia])
REFERENCES [dbo].[Zamowienia] ([id_zamowienia])
GO
ALTER TABLE [dbo].[Pozycje_Zamowienia] CHECK CONSTRAINT [FK_Pozycje_Zamowienia_Zamowienia]
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD  CONSTRAINT [FK_Produkty_Kategorie] FOREIGN KEY([id_kategorii])
REFERENCES [dbo].[Kategorie] ([id_kategorii])
GO
ALTER TABLE [dbo].[Produkty] CHECK CONSTRAINT [FK_Produkty_Kategorie]
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD  CONSTRAINT [FK_Produkty_Marki] FOREIGN KEY([id_marki])
REFERENCES [dbo].[Marki] ([id_marki])
GO
ALTER TABLE [dbo].[Produkty] CHECK CONSTRAINT [FK_Produkty_Marki]
GO
ALTER TABLE [dbo].[Warianty_Produktow]  WITH CHECK ADD  CONSTRAINT [FK_Warianty_Produktow_Kolory] FOREIGN KEY([id_koloru])
REFERENCES [dbo].[Kolory] ([id_koloru])
GO
ALTER TABLE [dbo].[Warianty_Produktow] CHECK CONSTRAINT [FK_Warianty_Produktow_Kolory]
GO
ALTER TABLE [dbo].[Warianty_Produktow]  WITH CHECK ADD  CONSTRAINT [FK_Warianty_Produktow_Produkty] FOREIGN KEY([id_produktu])
REFERENCES [dbo].[Produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[Warianty_Produktow] CHECK CONSTRAINT [FK_Warianty_Produktow_Produkty]
GO
ALTER TABLE [dbo].[Warianty_Produktow]  WITH CHECK ADD  CONSTRAINT [FK_Warianty_Produktow_Rozmiary] FOREIGN KEY([id_rozmiaru])
REFERENCES [dbo].[Rozmiary] ([id_rozmiaru])
GO
ALTER TABLE [dbo].[Warianty_Produktow] CHECK CONSTRAINT [FK_Warianty_Produktow_Rozmiary]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Adresy] FOREIGN KEY([id_adresu])
REFERENCES [dbo].[Adresy] ([id_adresu])
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Adresy]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Klienci] FOREIGN KEY([id_klienta])
REFERENCES [dbo].[Klienci] ([id_klienta])
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Klienci]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Metody_Dostawy] FOREIGN KEY([id_metody_dostawy])
REFERENCES [dbo].[Metody_Dostawy] ([id_metody])
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Metody_Dostawy]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Metody_Platnosci] FOREIGN KEY([id_metody_platnosci])
REFERENCES [dbo].[Metody_Platnosci] ([id_platnosci])
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Metody_Platnosci]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Statusy_Zamowien] FOREIGN KEY([id_statusu])
REFERENCES [dbo].[Statusy_Zamowien] ([id_statusu])
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Statusy_Zamowien]
GO
ALTER TABLE [dbo].[Zdjecia_Produktow]  WITH CHECK ADD  CONSTRAINT [FK_Zdjecia_Produktow_Produkty] FOREIGN KEY([id_produktu])
REFERENCES [dbo].[Produkty] ([id_produktu])
GO
ALTER TABLE [dbo].[Zdjecia_Produktow] CHECK CONSTRAINT [FK_Zdjecia_Produktow_Produkty]
GO
ALTER TABLE [dbo].[Zwroty]  WITH CHECK ADD  CONSTRAINT [FK_Zwroty_Zamowienia] FOREIGN KEY([id_zamowienia])
REFERENCES [dbo].[Zamowienia] ([id_zamowienia])
GO
ALTER TABLE [dbo].[Zwroty] CHECK CONSTRAINT [FK_Zwroty_Zamowienia]
GO
